/Library/il2cpp_cache
/Library/PackageCache
/Library/PlayerDataCache
/Library/ScriptAssemblies
/Library/ShaderCache
/Library/StateCache
/Library/webgl_cache/linkresult_wasm_419B78CA8910A8162CB6872588527522
